[Desktop Entry]
Version=1.0
Name=Wallpapers Slideshow
GenericName=WallpaperChanger
Comment=Simple wallpapers slideshow
Exec=python3 /home/bdeliers/simple-wallpaper-slideshow.py /home/bdeliers/Pictures/WallpapersSlideshow 60
Type=Application
Terminal=false
X-GNOME-Autostart-Delay=60
